div.star {
    /* color: gold; */
    color: white;
    padding: 15px;
}

a {
    text-decoration: none;
}

input[name='doctor'] {
    visibility: hidden;
    size: 0px;
    display: none;
}

input:checked + label {
    color: black;
}

body {
    background-color: rgb(177, 179, 197);
    color: white;
    /* color: #ff4d4d; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

form > * {
    font-size: 3em;
    padding: 20px;
}


#stars {
    display: flex;
    justify-content: center;
    font-size: 9em;
}